@page "/workers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp.Models
@using BlazorApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorApp.Data.BlazorAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="workers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Worker">
    <PropertyColumn Property="worker => worker.Name" />
    <PropertyColumn Property="worker => worker.Bday" />
    <PropertyColumn Property="worker => worker.City" />
    <PropertyColumn Property="worker => worker.Province" />
    <PropertyColumn Property="worker => worker.IsActive" />
    <PropertyColumn Property="worker => worker.PhoneNo" />

    <TemplateColumn Context="worker">
        <a href="@($"workers/edit?id={worker.Id}")">Edit</a> |
        <a href="@($"workers/details?id={worker.Id}")">Details</a> |
        <a href="@($"workers/delete?id={worker.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
